<div class="b-msd-shedule-inner">
    <div class="b-head">{{'system-template-11.layouts.worktime' | ft}}:</div>
    <ul class="b-list">
        <li>{{current_region.weekday_shedule}}</li>
        <li>{{current_region.sunday_shedule}}</li>
        <li class="b-hday">{{current_region.day7_shedule}}</li>
    </ul>
</div>
