<div class="ajax-bask">
    <a class="b-basket-link" href="/baskets">
        <span class="b-label">{{'system-template-11.layouts.basket' | ft}}</span>
        <span class="b-bascon">{{basket.basket_qnt}} {{'system-template-11.layouts.pieces' | ft}}</span>
        <i>{{basket.basket_qnt}}</i>
    </a>
</div>
