{% cache 'main_page_cache', 1 %}

    {% if_option show_banner_block %}
        {% include 'shared/_main_page_banner.liquid' %}
    {% endif_option %}
    {% if_option show_main_page_carousel %}
        {% include 'shared/_main_page_carousel_tm.liquid' %}
    {% endif_option %}    
    {% if_option show_page_ico_menu %}
        {% include 'shared/_main_page_ico_menu.liquid' %}
    {% endif_option %}    
    {% if_option show_catalog_block %}
        {% include 'shared/_main_page_catalog.liquid' %}
    {% endif_option %}
    {% if_option show_sale_price_items_block %}
        {% include 'products/_sale_price_items.liquid' %}
    {% endif_option %}
    {% if_option show_top_product %}
        {% include 'products/_sale_products.liquid' %}
    {% endif_option %}
    {% assign main_page = 'main' | page_by_system_id %}
    <div class="b-wrap2cols">
        <div class="b-wrap-c-right">
            <div class="b-c-right">
                {% if_option show_about_company_block %}
                    <div class="b-about">
                        {% if main_page %}
                        <h1 class="b-head">{{main_page.title}}</h1>
                        {{main_page.body}}
                        {% endif %}
                    </div>
                {% endif_option %}    
            </div>
        </div>
        <div class="b-c-left">
            {% if_option show_news_list_block %}
                {% include 'shared/_news_list.liquid' %}
            {% endif_option %}
        </div>
        <div class="cl"></div>
    </div>

{% endcache %}
