/* Основной шрифт сайта */
$body-text-font: 'proxima', Arial, Helvetica, sans-serif;


/* Основной цвет текста */
$body-text-color: #000;


/* Основной цвет ссылок */
$body-link-color: #1e58a6;


/* Основной цвет заголовков (h1-h6) */
$body-header-color: #000;


/* Основной фон страницы */
$body-background-color: #fff;


/* Шапка - верхняя панель -фон */
$header-top-panel-bg: #333;


/* Шапка - верхняя панель - цвет ссылки региона */
$header-region-color: #fff;


/* Шапка - верхняя панель - цвет ссылки региона при наведении */
$header-region-color-hover: #fff;


/* Шапка - меню навигации - цвет ссылок 1 уровень */
$header-nav-menu-link-color: #fff;


/* Шапка - меню навигации - фон ссылок 1 уровень при наведении */
$header-nav-menu-link-color-bg-hover: #565656;


/* Шапка - меню навигации - цвет ссылок 1 уровень при наведении */
$header-nav-menu-link-color-hover: #fff;


/* Шапка - меню навигации - 2 уровень меню - фон */
$header-nav-menu-submenu-bg: #565656;


/* Шапка - меню навигации - цвет ссылок 2 уровень */
$header-nav-menu-submenu-link-color: #fff;


/* Шапка - меню навигации - фон ссылок 2 уровень при наведении */
$header-nav-menu-submenu-link-color-bg-hover: #333;


/* Шапка - меню навигации - цвет ссылок 2 уровень при наведении */
$header-nav-menu-submenu-link-color-hover: #fff;


/* Шапка - ссылки пользователя (войти,кабинет) - фон блока */
$header-user-link-bg: #565656;


/* Шапка - ссылки пользователя (войти,кабинет) - цвет разделителя */
$header-user-link-sep-color: #fff;


/* Шапка - ссылки пользователя (войти,кабинет) */
$header-user-link-color: #fff;


/* Шапка - ссылки пользователя (войти,кабинет) при наведении */
$header-user-link-color-hover: #fff;


/* Шапка - выпадающее окно авторизации - фон */
$header-sign-in-bg: #333;


/* Шапка - выпадающее окно авторизации - поле ввода - фон */
$header-sign-in-input-bg: #fff;


/* Шапка - выпадающее окно авторизации - поле ввода - цвет текста */
$header-sign-in-input-color: #8e8e8e;


/* Шапка - выпадающее окно авторизации - поле ввода - цвет текста при вводе */
$header-sign-in-input-color-focus: #000;


/* Шапка - выпадающее окно авторизации - кнопка - цвет */
$header-sign-in-send-color: #fff;


/* Шапка - выпадающее окно авторизации - кнопка - фон */
$header-sign-in-send-bg: #f5911c;


/* Шапка - выпадающее окно авторизации - кнопка - цвет при наведении */
$header-sign-in-send-color-hover: #fff;


/* Шапка - выпадающее окно авторизации - кнопка - фон при наведении */
$header-sign-in-send-bg-hover: #f5911c;


/* Шапка - корзина - цвет текста */
$header-basket-text: #fff;


/* Шапка - корзина - фон круга с кол-вом товаров */
$header-basket-circle-bg: #f02f05;


/* Шапка - корзина - цвет текста в круге с кол-вом товаров */
$header-basket-circle-color: #fff;


/* Шапка - корзина - цвет текста при наведении */
$header-basket-text-hover: #f02f05;


/* Шапка - лого - цвет текста имя компани */
$header-logo-head-color: #f5911c;


/* Шапка - лого - цвет текста подзаголовка */
$header-logo-subhead-color: #b0b0b0;


/* Шапка - цвет ссылки номер телефона */
$header-phone-color: #333;


/* Шапка - цвет ссылки номер телефона при наведении */
$header-phone-color-hover: #333;


/* Шапка - цвет ссылки Заказать звонок */
$header-callback-color: #1e58a6;


/* Шапка - цвет ссылки Заказать звонок при наведении */
$header-callback-color-hover: #1e58a6;


/* Шапка - расписание работы - цвет заголовка */
$header-worktime-head-color: #333;


/* Шапка - расписание работы - цвет текста */
$header-worktime-color: #b0b0b0;


/* Шапка - расписание работы - точки рабочих дней */
$header-worktime-dot: #23b62d;


/* Шапка - расписание работы - точки нерабочих дней */
$header-worktime-dot-holiday: #f02f05;


/* Шапка - нижняя панель - фон */
$header-bpanel-bg: #161616;


/* Шапка - нижняя панель - вертикальный разделитель - левый цвет */
$header-bpanel-vsep-left: #555;


/* Шапка - нижняя панель - вертикальный разделитель - правый цвет */
$header-bpanel-vsep-right: #000;


/* Шапка - кнопка каталоги - цвет */
$header-btn-cat-color: #fff;


/* Шапка - выпадающие каталоги - фон */
$header-cat-popup-bg: #161616;


/* Шапка - выпадающие каталоги - цвет ссылки 1 уровня */
$header-cat-popup-nav-link-color: #fff;


/* Шапка - выпадающие каталоги - фон ссылки 1 уровня при наведении */
$header-cat-popup-nav-link-color-bg-hover: #565656;


/* Шапка - выпадающие каталоги - цвет ссылки 1 уровня при наведении */
$header-cat-popup-nav-link-color-hover: #fff;


/* Шапка - выпадающие каталоги - фон меню 2 уровня */
$header-cat-popup-submenu-bg: #161616;


/* Шапка - выпадающие каталоги - цвет ссылки 2 уровня */
$header-cat-popup-nav-submenu-link-color: #fff;


/* Шапка - выпадающие каталоги - цвет ссылки 2 уровня при наведении */
$header-cat-popup-nav-submenu-link-color-hover: #fff;


/* Шапка - выпадающие каталоги - фон ссылки 2 уровня при наведении */
$header-cat-popup-nav-submenu-link-bg-hover: #565656;


/* Шапка - поиск - поле поиска - фон */
$header-search-input-bg: #fff;


/* Шапка - поиск - поле поиска - цвет текста */
$header-search-input-color: #a5a5a5;


/* Шапка - поиск - поле поиска - цвет текста при вводе */
$header-search-input-color-active: #000;


/* Шапка - поиск - кнопка - фон */
$header-search-btn-bg: #f5911c;


/* Шапка - поиск - кнопка - цвет текста */
$header-search-btn-color: #fff;


/* Шапка - поиск - кнопка - фон при наведении */
$header-search-btn-bg-hover: #f5911c;


/* Шапка - поиск - кнопка - прозрачность при наведении */
$header-search-btn-opacity-hover: .92;


/* Шапка - поиск - кнопка - цвет текста при наведении */
$header-search-btn-color-hover: #fff;


/* Шапка - кнопка VIN - цвет фона */
$header-btn-vin-bg: #f02f05;


/* Шапка - кнопка VIN - цвет текста */
$header-btn-vin-color: #fff;


/* Шапка - кнопка VIN - цвет фона при наведении */
$header-btn-vin-bg-hover: #f02f05;


/* Шапка - кнопка VIN - цвет текста при наведении */
$header-btn-vin-color-hover: #fff;


/* Шапка - кнопка VIN - прозрачность при наведении */
$header-btn-vin-opacity-hover: .92;


/* Плитка каталогов на главной - цвет фона */
$main-cat-plate-bg: #f5911c;


/* Плитка каталогов на главной - цвет бордюры между плитками */
$main-cat-plate-border-color: #fff;


/* Плитка каталогов на главной - цвет текста ссылки */
$main-cat-plate-link-color: #fff;


/* Плитка каталогов на главной - цвет фона ссылки при наведении */
$main-cat-plate-link-color-hover: #fff;


/* Слайдер на главной странице - текст - фон */
$main-slider-text-bg: rgba(51, 51, 51, 0.84);


/* Слайдер на главной странице - текст - цвет */
$main-slider-text-color: #fff;


/* Слайдер на главной странице - пейджинг - фон кнопки */
$main-slider-nav-bg: none;


/* Слайдер на главной странице - пейджинг - бордюра кнопки */
$main-slider-nav-border: #f00;


/* Слайдер на главной странице - пейджинг - фон активного пунка */
$main-slider-nav-active-bg: #f02f05;


/* Слайдер на главной странице - пейджинг - бордюра активного пунка */
$main-slider-nav-active-border: #f02f05;


/* Карусель торговых марок на главной - градиент - начальный и конечный цвет */
$main-tmcar-gradient-color-1: rgba(17, 70, 113, 1);


/* Карусель торговых марок на главной - градиент - средний цвет */
$main-tmcar-gradient-color-2: rgba(22, 91, 148, 1);


/* Карусель торговых марок на главной - бордюра пункта */
$main-tmcar-item-border: #6b95b7;


/* Карусель торговых марок на главной - цвет ссылки */
$main-tmcar-link-color: #fff;


/* Торговые марки меню иконок - фон */
$main-subpd-bg: #f2f2f3;


/* Торговые марки меню иконок - моб версия - цвет заголовка - переключателя */
$main-subpd-mobile-header-color: #1e58a6;


/* Блок новости - цвет ссылки новости */
$news-link-color: #1e58a6;


/* Блок новости - цвет ссылки новости при наведении */
$news-link-color-hover: #1e58a6;


/* Блок новости - цвет даты */
$news-date-color: #b0b0b0;


/* Блок новости - кнопка -Все новости- цвет */
$news-all-news-color: #fff;


/* Блок новости - кнопка -Все новости- фон */
$news-all-news-bg: #f5911c;


/* Блок новости - кнопка -Все новости- цвет при наведении */
$news-all-news-color-hover: #fff;


/* Блок новости - кнопка -Все новости- фон при наведении */
$news-all-news-bg-hover: #f5911c;


/* Разделитель между новостями и текстом */
$vsep-color: #dcdcdc;


/* Блок -О Компании- на главной - цвет текста */
$about-text-color: #6d6d6d;


/* Блок -О Компании- на главной - цвет заголовка */
$about-head-color: #333;


/* Футер - фон */
$footer-bg: #333;


/* Футер - цвет заголовков */
$footer-head-color: #fff;


/* Футер - цвет текста и ссылок */
$footer-text-color: #c2c2c2;


/* Футер - меню - цвет ссылки */
$footer-nav-link-color: #c2c2c2;


/* Футер - меню - цвет ссылки при наведении */
$footer-nav-link-color-hover: #c2c2c2;


/* Моб версия - бургер-кнопка для меню - фон линий */
$mob-burger-bg: #fff;


/* Моб версия - навигация - фон затемнения */
$mob-splash-bg: rgba(0, 0, 0, .5);


/* Моб версия - навигация - фон панели меню */
$mob-nav-bg: #333;


/* Моб версия - навигация - тень панели меню */
$mob-nav-shadow: 6px 6px 10px rgba(115, 115, 115, .43);


/* Моб версия - навигация - ссылки 1 уровень - цвет */
$mob-nav-link-color: #fff;


/* Моб версия - навигация - ссылки 1 уровень - цвет - активное состояние */
$mob-nav-link-color-active: #fff;


/* Слайдер топ-товары: цвет бордюры товаров */
$slider-top-border-color: #dcdcdc;


/* Слайдер топ-товары: цвет ссылки на товар */
$slider-top-link-color: #114672;


/* Слайдер топ-товары: цвет ссылки на товар  при наведении */
$slider-top-link-color-hover: #114672;


/* Слайдер топ-товары: цвет цены */
$slider-top-price-color: #333;


/* Слайдер топ-товары: шрифт цены */
$slider-top-price-font: Arial, "Helvetica Neue", Helvetica, sans-serif;


/* Слайдер топ-товары: кнопка купить - фон */
$slider-top-btn-buy-bg: #1e58a6;


/* Слайдер топ-товары: кнопка купить - фон при наведении */
$slider-top-btn-buy-bg-hover: #1e58a6;


/* Слайдер топ-товары: цвет бордюры кнопок навигации */
$slider-top-nav-dots-border: #f00;


/* Слайдер топ-товары: активный цвет бордюры и фона кнопки навигации */
$slider-top-nav-dots-active: #f02f05;
